/* .header_outer_container{
    position: sticky;
    top: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20,20,20);
    background-color: transparent;
    height: 10vh;
    color: white;
    transition: all 0.5s;
    transition-timing-function: ease-in;
    z-index: 1;
    background-color: red;
} */
.header_outer_container {
    /* margin-top: 20px; */
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 10vh;
    color: white;
    transition: all 0.5s ease-in;
    z-index: 1;
   
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

.header_left ul,
.header_right ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.header_left ul {
    margin-top: 30px; 
}
.header_left ul li,
.header_right ul li {
    margin: 0 15px;
    color: white;
}
